h1,h3 {
    font-family: monospace;
    font-weight: 100;
}

#department, #level_gr{
  padding-left: 20px;
  font-family: monospace;
  font-size: 15px;
  
}

#level_gr{
    padding-top: 5px;
    padding-bottom: 15px;
}

button {

    padding: 7px;
    font-family: monospace;
    background-color: white;
    cursor: pointer;
  }

 .tooltip{
      position: absolute;
  }

  .active, .btn:hover {
    background-color: #666;
    color: white;
  }

  iframe{

    border:0px #ffffff none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: 0;

  }

  #desc{
    margin: auto;
    width: 66%;
    display: block;
    text-align: center;
    
  }

  #mainheader, #dataviz, #logo{
    margin: auto;
    width: 66%;
    display: block;
  }

  body,h1,h2, h3, p{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: lighter !important;

  }

