
#department, #level_gr{
  padding-left: 20px;
  font-family: monospace;
  font-size: 15px;
  
}

#level_gr{
    padding-top: 5px;
    padding-bottom: 15px;
}

button {

    padding: 7px;
    font-family: monospace;
    background-color: white;
    cursor: pointer;
  }

 .tooltip{
      position: absolute;
  }

  .active, .btn:hover {
    background-color: #666;
    color: white;
  }

  #desc{
  max-width: 980px;
  padding-bottom: 25px;
    
  }

  #mainheader, #dataviz, #logo, #chartdesc{
    margin: auto;
    width: 66%;
    display: block;
  }

  body,h1,h2, h3, p{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: lighter !important;

  }

  html, body, iframe { height: 100%; }

  div.linetooltip{
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 14px monospace;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

.axis text{
fill: #888787;
}
.axis path{
stroke:#888787;
}
.axis line{
stroke:#888787;
}
